
{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<h1 class="title">/editor</h1>
    <div class="parent">
        <div class="desc-bar-left">
            <p class="desc-item-left">detect faces <br> <sub-l>[Task 1]</sub-l> </p>
            <p class="desc-item-left">blur the image <br> <sub-l>[Task 2]</sub-l></p>
            <p class="desc-item-left">detect eyes <br> <sub-l>[Task 3]</sub-l></p>
            <p class="desc-item-left">measure similarities <br> <sub-l>[Task 4]</sub-l></p>
            <p class="desc-item-left">reset image</p>
        </div>
        <div class="item-bar-left">
                <a href="edit-image-face"><p class="item"><img src="./static/svg/meh-rolling-eyes.svg" class="svg_edit"></p></a>
                <a href="edit-image-blur"><p class="item"><img src="./static/svg/stroopwafel.svg" class="svg_edit"></p></a>
                <a href="edit-image-eyes"><p class="item"><img src="./static/svg/eye.svg" class="svg_edit"></p></a>
                <a href="edit-image-similarities"><p class="item"><img src="./static/svg/copy.svg" class="svg_edit"></p></a>
                <a href="edit-image-back"><p class="item"><img src="./static/svg/history.svg" class="svg_edit"></p></a>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename=filename[0]) }}" class="editor-image">

            <a href="edit-image-swap"><div id="editor-arrow"> <!--src="./static/svg/arrow.png"--> </div></a>

            <img src="{{ url_for('static', filename=filename[1]) }}" class="editor-image">
        </div>
        <div class="item-bar-right">
                <a href="edit-image-face-blur-weak"><p class="item"><img src="./static/svg/thermometer-quarter.svg" class="svg_edit"></p></a>
                <a href="edit-image-face-blur"><p class="item"><img src="./static/svg/thermometer-half.svg" class="svg_edit"></p></a>
                <a href="edit-image-face-black"><p class="item"><img src="./static/svg/thermometer-three-quarters.svg" class="svg_edit"></p></a>
        </div>
        <div class="desc-bar-right">
            <p class="desc-item-right">blur faces (weak) <br> <sub-r>[Task 5]</sub-r></p>
            <p class="desc-item-right">blur faces (strong) <br> <sub-r>[Task 5]</sub-r></p>
            <p class="desc-item-right">blackout faces <br> <sub-r>[Task 5]</sub-r></p>
        </div>
    </div>
    <br><br>
    {{ score_text }}
    <br><br>
    <a href="{{ url_for('static', filename=filename[1]) }}" class="btn" download="detected_faces"><img src="./static/svg/download.svg" class="svg">download image</a>
    <a href="upload-image" class="btn" id="another-btn"><img src="./static/svg/upload.svg" class="svg"> upload another image</a>
</body>

{% endblock %}
