body {
    margin: 20px 10px;
    background-color: #121212;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 20px;
    color: #9e9e9e;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #E16B2E
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 0px 20px;
    color: #ffffff;
}

.navbar {
    margin-bottom: 30px;
}

.top-hr {
    margin: 0px 60px 40px 60px;
}

.form-group {
    margin: 20px 0px;
}

.btn {
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    line-height: var(--button-line-height);
    padding: 10px 30px;
    margin: 0;
    height: auto;
    border: 2px solid #ffffff;
    border-radius: 5px;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;
}

.btn:hover {
    border-color: #E16B2E;
    color: #E16B2E;
}

.btn:focus {
    box-shadow: 0 0 0 3px var(--darken-3);
    color: #8e8e8e;
}

.title {
    margin-bottom: 40px;
    color: #E16B2E;
    font-weight: bold;
    font-size: 50px;
}

sub-l {
    font-style: italic;
    color: #3e3e3e;
    font-size: 15px;
    text-align: right;
}

sub-r {
    font-style: italic;
    color: #3e3e3e;
    font-size: 15px;
    text-align: left;
}

.custom-file-input {
    padding-top: 20px;
    content: 'Select some files';
    outline: none;
    white-space: nowrap;
}

.parent {
    display: inline-flex;
}

.desc-bar-left {
    width: 12%;
    min-width: 160px;;
    height: 300px;
    margin-right: 10px;
}

.desc-item-left {
    font-size: 16px;
    height: 55px;
    width: 160px;
    text-align: right;
    margin-top: 20px;
    line-height: 26px;
}

.item-bar-left {
    width: 8%;
    height: 300px;
    margin-right: 20px;
}

.item-bar-right {
    width: 8%;
    height: 300px;
    margin-left: 20px;
}

.desc-bar-right {
    width: 22%;
    height: 300px;
    margin-left: 10px;
}

.desc-item-right {
    font-size: 16px;
    height: 55px;
    width: 145px;
    text-align: left;
    margin-top: 20px;
    line-height: 26px;
}

.item {
    font-size: 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    line-height: 60px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    box-shadow: 0 9px #999;
}

.item:hover {
    border-color: #E16B2E;
    color: #E16B2E;
}

.item:active {
    background-color: #E16B2E;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: #ffffff;
}

.image-container {
    display:flex;
    height: 400px;
    width: 70%;
}

.editor-image, #editor-arrow {
    margin:auto;
    max-width: 400px;
    max-height: 400px;
}

#editor-arrow {
    height: 420px;
    width: 60px;
    background-image: url("../svg/arrow.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#editor-arrow:hover {
    background-image: url("../svg/arrow_orange.png");
}

#another-btn {
    margin-left: 20px;
}

.svg {
    height: 20px;
    margin-right: 20px;
}

.svg_edit {
    margin-top: 7px;
    height: 35px;
}